<ul class="quotes">
	{{#each posts}}
	ss
        <li>
			{{name}} <br>
			{{text}}
		</li>
		<br>
     {{/each}}
</ul>

<br>HEj
{{username.name}}
hej


<form action="/posts/post" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="text" name="text">
  <button type="submit">Submit</button>
</form>