<% layout('../layouts/layout') -%>
<ul class="quotes">
	<%posts.forEach(function(element){%>
        <li>
			<%=element.name%> <br>
			<%=element.text%>
		</li>
		<br>
     <%});%>
</ul>

<br>HEj
<%= username.name%>
hej


<form action="/posts/post" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="text" name="text">
  <button type="submit">Submit</button>
</form>