<% layout('../layouts/layout') -%>
<ul class="quotes">
	<%posts.forEach(function(element){%>
        <li>
			<a href="/posts/post/<%= element._id %>">
			<%=element.name%></a> <br>
			<%=element.text%> <br>
			<%=element.user.username  %>
		</li>
		<br>
     <%});%>
</ul>

<br>HEj

hej

<% if(user) { %>
<form action="/posts/post" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="text" name="text">
  <button type="submit">Submit</button>
</form>
<% } %>